body{
    font-family: "Roboto", sans-serif
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

 .container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
 }

.header{
    box-sizing: border-box;
    border-bottom: 1px solid #e7e9fc;

}

.header-div {
    display: flex;
    align-items: center;
}



.header-navigation{
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.nav-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo-color{
    color: #2E2F42;
}



.header-menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
}


.header-menu-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}


.Contacts {
    font-style: normal;
    margin-left: auto;
}

.Contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-soc-list {
font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #000000;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-business{
   background-image: url(./images/photo_2026-02-22_00-44-53.jpg);
   margin: 0;
   height: 100%;
    padding: 188px 0;

}
    

.hero-title{
    color: #fff;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}

.hero-primary-btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    height: 56px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.features {
    padding: 120px 0
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.features-list{
display: flex;
gap: 24px;
}

.features-item{
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
}

.team-card-content {
    padding: 32px 0;
}

.features-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    align-items: center;

}

.features-item-tex{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    max-width: 264px;
    margin: 0;

}
 .team{
background: #F4F4FD;
padding: 120px 0;
 }

 .team-div {

 }

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list{
display: flex;
gap: 24px;
}

.team-item{
background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}

.team-div-con {
    padding: 32px 0 
}

.team-images{
display: block;
    max-width: 100%;
    height: auto;
}

.team-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}


.team-tex{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.Portfolio{
padding-top: 120px;
padding-bottom: 120px;
}

.Portfolio-div-coin {

}

.Portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.Portfolio-list{
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: center;
    margin-right: auto;
}

.Portfolio-item{
width: calc((100% - 48px) / 3);
}

.div-port-sek {
    padding: 32px 16px
    border 1px solid #e7e9fc;
    border-top: none;
    margin-left: auto;
}

.footer{
    background: #2E2F42;
    padding: 100px 0;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-color{
    color: #F4F4FD;
}

.footer-tex{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}